@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body,
input,
button {
    overflow: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container-menu {
    width: 100%;
    height: 70px;
    background-color: #292933;
}

.list-menu{
    display: none;
}

.list-menu ul {
    margin: 30px;
}

.list-menu ul li a {
    color: white;
}

.list-menu ul li a:link {
    text-decoration: none;
    color: inherit;
}

.list-menu ul li {
    display: flex;
    justify-content: flex-end;
    font-weight: 5;
    padding: .5em 0;
    border-bottom: 1px solid;
    margin-left: 20px;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.space-menu{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.open-close-menu{
    display: flex;   
    font-size: 50px;
    width: 50%;
}

.open-close-menu svg{
    cursor: pointer
}

.logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 50%;
    color: white;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #292933;
}

.box-login {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 16px rgba(253, 241, 255, 0.1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    width: 325px;
    height: 545px;
    background-color: #212121;
}

.label-login {
    width: 100%;
    position: absolute;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: white;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-login {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label-input {
    margin: 0;
    color: white;
    font-weight: bold;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-login {
    border: none;
    padding: 0 5px;
    border-bottom: 2px solid #adadad;
    width: 295px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
}

.loading {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background-color: #030303;
    background-size: 180px;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center;
    position: fixed;
    z-index: 9999;
    backdrop-filter: saturate(100%) blur(10px);
}

.btn-form {
    cursor: pointer;
    margin-top: 40px;
    width: 300px;
    border: none;
    height: 40px;
    border-radius: 50px;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
}

.header-modal {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.btn-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-modal {
    margin-top: 40px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.container-body {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #a7a5a5;
}

.header-body {
    width: 100%;
    display: flex;
    margin: 0;
    height: 150px;
}

.row-left{
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}


.qtd-clients {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.body-calendar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-calendar{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 338px;
    height: 419px;
    background-color: #292933;
}

.container-left{
    width: 32%;
    height: 100%;
}

.container-qtd{
    justify-content: end;
    align-items: center;
    width: 68%;
    margin: 0;
    height: 100%;
    display: flex;
}

.react-calendar{
    width: 350px;
    color: white;
    max-width: 100%;
    border: none !important;
    background: #292933 !important;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar button{
    font-size: 18px;
    font-weight: bold;
    color: white
}

.container-itens{
    display: flex;
}

.icon-itens-menu{
    width: 50%;
}

.link-menu{
    width: 50%;
    justify-content: safe;
}

.link-menu a{
    display: flex;
    justify-content: flex-end;
}

.qtd-attended{
    border-radius: 20px;
    margin: 20px;
    height: 80px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #292933;
}

.qtd-waiting{
    font-size: 10px;
    font-weight: bold;
    height: 80px;
    color: white;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #292933;
}

.container-home{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.body-table{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}

.header-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: initial;
    width: 100%;
    height: 100px;
}

.row-header{
    width: 25%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    list-style-type: none;
}

.itens-table{
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
    color: white;
    flex-direction: row;
}

.result-table{
    width: 100%;
    height: 100%;
}

.radius-table{
    width: 100%;
    border-radius: 20px;
    height: 60%;
    background-color: #292933;
}

.btn-edit{
    cursor: pointer;
}